* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
  }

  .article-right {
    display: flex;
    justify-content: flex-end;
  }

  .article-left {
    display: flex;
    justify-content: flex-start;
  }

  .top-container {
    background-color: rgb(23, 25, 35);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 66.67%; 
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    color: white;
    margin: 15px 0;
    border-bottom: 1px solid white;
    font-size: 2rem;
  }

  .users-container {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    gap: 20px;
    white-space: nowrap; 
    scrollbar-width: none;
  }

  .users-container::-webkit-scrollbar {
    display: none; 
  }

  .user-card {
    width: 150px;
    flex: 0 0 200px; 
    background-color: rgb(33, 36, 48);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .user-card img {
    border-radius: 5%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    object-fit: cover;
  }

  .user-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color:white;
  }

  .user-card p {
  font-size: 0.9rem;
  color: rgb(150, 150, 150);
  word-wrap: break-word; 
  word-break: break-all; 
  max-height: 60px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}


  .load-more-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3f3f46;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px 0;
  }

  .detail {
    text-decoration: none;  /* デフォルトの下線を削除 */
    color: white;
    position: relative;     /* 擬似要素を相対配置するために必要 */
}

.detail:hover {
    text-decoration: none;  /* ホバー時のデフォルト下線を抑制 */
}

.detail::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;           /* 下線を少し離して表示 */
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.detail:hover::after {
    background-color: white;  /* ホバー時に白の下線が表示 */
}


  @media (max-width: 1024px) {
    .articles-container {
      grid-template-columns: 1fr;
    }

    .user-card {
      width: 80%;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }

    .load-more-btn {
      font-size: 0.9rem;
      padding: 8px;
    }

    .user-card img {
      width: 80px;
      height: 80px;
    }
  }