* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
  }

  .article-right {
    display: flex;
    justify-content: flex-end;
  }

  .article-left {
    display: flex;
    justify-content: flex-start;
  }

  .top-container {
    background-color: #3AD6B2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 66.67%; 
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    color: white;
    margin: 15px 0;
    border-bottom: 1px solid white;
    font-size: 2rem;
  }

  .load-more-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3f3f46;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px 0;
  }


  @media (max-width: 1024px) {
    .articles-container {
      grid-template-columns: 1fr;
    }

    .user-card {
      width: 80%;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }

    .load-more-btn {
      font-size: 0.9rem;
      padding: 8px;
    }

    .user-card img {
      width: 80px;
      height: 80px;
    }
  }