.top_container {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #3f3f46;
    color: white;
    padding: 20px;
    width: 100%; 
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.rounded-md {
    border-radius: 0.375rem; /* rounded-md */
}

.ml-2 {
    margin-left: 0.5rem; /* ml-2 */
}

.text-lg {
    font-size: 1.125rem; /* text-lg */
    color: white;
}

.text-xl {
    font-size: 1.25rem; /* text-xl */
}

.my-5 {
    margin-top: 1.25rem; /* my-5 */
    margin-bottom: 1.25rem; /* my-5 */
}

.h-20 {
    height: 7rem; /* h-20 */
}

.inline-block {
    display: inline-block;
}

.mr-2 {
    margin-right: 0.5rem;
}

.text-zinc-400 {
    color: #a1a1aa; 
}

.container {
    display: flex;
}

a {
    text-decoration: none;
}

.rounded-circle {
    border-radius: 50%;
    margin-right: 5px;
}

.marginY {
    margin: 10px 0;
}

.items-center {
    display: flex;
    align-items: flex-end; /* items-center */
    justify-items: end;
    margin-bottom:auto;
}

h1 {
    color:white;
}