---
import type { ZennPost } from "../../types";
import { zennUsers } from "../../users";
import ZennComponent from "./zennComponent.astro";

const fetchZennArticles = async (user: string): Promise<ZennPost[]> => {
  try {
    const response = await fetch(`https://zenn.dev/api/articles?username=${user}&order=latest`);
    if (!response.ok) {
      const errorDetails = await response.text();
      console.error(`Error: ${response.status} - ${response.statusText}`);
      console.error(`Details: ${errorDetails}`);
      return [];
    }

    const data = await response.json();
    if (!data.articles) {
      console.error('Expected articles field in response');
      return [];
    }

    return data.articles as ZennPost[];
  } catch (error) {
    console.error('An error occurred:', error);
    return [];
  }
}

const zennPosts: ZennPost[] = ((await Promise.all(zennUsers.map(fetchZennArticles))).flat()).sort((a, b) => {
  return new Date(b.published_at).getTime() - new Date(a.published_at).getTime();
});
---
<style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .selected {
        border-bottom: solid 2px white;
        color: white;
    }
  
    a {
      text-decoration: none;
      color: inherit;
    }
  
    ul {
      margin: 0;
      padding: 0;
    }

    .articles-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px 0;
    }

    @media (min-width: 1024px) {
        .articles-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
  </style>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Zenn Articles</title>
    </head>
    <body style="background-color: rgb(23, 25, 35); margin:0 3%; ">
        <h1 style="text-align: center; color: white; margin: 15px 0;">Articles</h1>
        <div style="display: flex; margin: 20px 0;">
            <a href="./qiita" style="color: rgb(226, 232, 240); margin-right: 10px; font-size: large;">
                qiita.com
            </a>
            <a href="./zenn" class="selected" style="font-size:large;">
                zenn.dev
            </a>
        </div>
        <div class="articles-container">
            {zennPosts.map((post) => (
                <ZennComponent {...post}/>
            ))}
        </div>
    </body>
</html>