---
import Layout from '../layouts/Layout.astro';
import { getBlogsByCategory} from '../libs/microcms';
import {getCategoryDetail} from '../libs/microcms';
import { getCategories } from '../libs/microcms';


export async function getStaticPaths() {
  const response = await getCategories();
  return response.contents.map((category: any) => ({
    params: {
      categoryId: category.id,
    },
  }));
}

export async function getStaticProps({ params }) {
  const categoryId = params.categoryId;
  const categoryDetail = await getCategoryDetail(categoryId);
  const posts = await getBlogsByCategory(categoryId);

  return {
    props: {
      categoryDetail,
      posts,
    },
  };
}

const { categoryDetail } = Astro.props;
const { posts } = Astro.props;
---


<Layout title="ここにカテゴリー名が読み込まれる"> <!-- ここにどうやって作った関数を入れればよいのかわからなくなりました -->
  <main>
    <h1>「カテゴリー名」のブログ</h1>
    <p>ハードテキストとして書き込めば書き込めるのですが、関数として、category（例えばweb）に含まれるブログのidを表示できないです。</p>
			  <li>
				<a href=ブログidを読み込む>ブログタイトル</a>  <!-- mapに入れて繰り返す -->
			</li>   
  </main>
</Layout>


<style>
	body {
    margin: 0;
    padding: 0;
    margin-top: 70px;
  }

  main {
    margin: auto;
    padding: auto;
    max-width: 60ch;
  }

  h1 {
    font-size: 50px;
    color: black;
    text-align: center;
  }

  ul {
    padding: 0;
    list-style-type: none;
	  text-align: center;
  }

  li {
    margin-bottom: 10px;
  }

  a {
	  font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
	background: rgb(179, 179, 239);
  }
</style>

