---
import Layout from "../layouts/Layout.astro";
const response = await fetch('http://test.local/wp-json/wp/v2/categories');
const categories = await response.json();
---

<Layout title="wincblog">
  <main>
    <h1>カテゴリー一覧</h1>
    <ul>
      {categories.map((category :any) => (
        <li>
          <a href={`/${category.slug}`}>{category.name}</a>
        </li>
      ))}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    background-color: white;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    color: black;
  }
  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  li {
    margin-bottom: 10px;
  }
  a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    background: rgb(179, 179, 239);
  }
</style>
