---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getBlogs } from "../libs/microcms";
//↓microCMSを呼び出す
const response = await getBlogs({ fields: ["id", "title"] }); 
---
<!--親コンポーネントであるindex.astroで子であるLayoutコンポーネントを呼び出している。その時に同時にtitleプロパティにwinc_blogという値を指定している。
ここで指定した"winc_blog"が、Astro.props(Astroオブジェクトのpropsというプロパティ)に一旦格納される。
その後、Astro.propsに保存された"winc_blog"は子コンポーネントであるLayout.astroで、
const title = Astro.props;
として呼び出している。↓-->
<Layout title="winc_blog">
	<main>
	<!--ブログのひな形-->
  <h1>Wincの活動ブログ</h1>
  <ul>
    <li><a href="/blogs/app">アプリ班</a></li>
    <li><a href="/blogs/web">Web班</a></li>
    <li><a href="/blogs/hackathon">歴代ハッカソンの作品</a></li>
    <li><a href="/blogs/other">その他の活動(遊びとか)</a></li>
  </ul>
	<!--
	以下のように一つ一つブログが増えるたびに書き足していくと大変なので、上のように自動で読み込まれるように書き直した。
	上がやっていることは自動的にmicroCMSで書いたブログのタイトルを取得し、aタグに入れ、ホームの画面に出すという操作。
	<ul>
		<li><a href="">一つ目のブログです</a></li>
		<li><a href="">二つ目のブログです</a></li>
	</ul>
	 -->

	</main>
</Layout>
<!--デザインは適当です。決まり次第書き直したい。 -->
<style>
	body {
    margin: 0;
    padding: 0;
    margin-top: 70px;
  }

  main {
    margin: auto;
    padding: auto;
    max-width: 60ch;
    border-radius: 5px;
  }

  h1 {
    font-size: 60px;
    color: black;
    text-align: center;
  }

  ul {
    padding: 0;
    list-style-type: none;
	text-align: center;
  }

  li {
    margin-bottom: 10px;
  }

  a {
	font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
	background: rgb(179, 179, 239);
  }
</style>



