---
import HamburgerMenu from './HamburgerMenu.jsx';
import RetWindowWidth from './header';
---

<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <RetWindowWidth client:load/>       
    </body>
</html>
