---
import RetWindowWidth from './header';
---

<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="border-bottom: 2px solid black;">
        <RetWindowWidth client:load/>       
    </body>
</html>
